.main {
  padding: 1rem 0rem;
  max-width: 650px;
  margin: 0 auto;
  color: #c9d1d9;
}

.pageTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ffffff;
}

.introText {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 3rem;
  color: #a0a0a0;
}
