.experienceContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 700px;
  /* margin: 2.5rem auto 2rem auto; */
  /* padding: 2.5rem 2rem 2rem 2rem; */
  background: var(--background-color, #18181b);
  border-radius: 12px;
  /* box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12); */
  color: #e5e5e5;
  min-height: 70vh;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: -1.2rem;
  color: #a0a0a0;
  letter-spacing: -1px;
  text-align: left;
}

.experienceCard {
  background-color: var(--card, #23232b);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
}

.experienceHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: #8b949e;
  font-size: 0.9rem;
}

.projectTitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.projectPeriod {
  color: #8b949e;
  font-size: 0.95rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: flex-start;
}

.tag {
  background-color: var(--background-color, #18181b);
  color: #8b949e;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.8rem;
}

.contributionsList {
  list-style-type: none;
  padding: 0;
  margin: 1.3rem 0 0.5rem 0;
  font-size: 0.95rem;
}

.contributionItem {
  padding: 0.2rem 0;
  color: var(--font-color, #e5e5e5);
  position: relative;
  padding-left: 1.5rem;
}

.contributionItem:before {
  content: "";
  position: absolute;
  left: 0;
  top: 14px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #8b949e;
}

@media (max-width: 600px) {
  .experienceContainer {
    padding: 1.2rem 0.5rem;
  }
  .title {
    font-size: 1.3rem;
  }
  .experienceHeader {
    flex-direction: column;
    gap: 0.5rem;
  }
}
