.main {
  padding: 1rem 0rem;
  max-width: 650px;
  margin: 0 auto;
  color: #c9d1d9;
}

.pageTitle {
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: #a0a0a0;
  font-size: 2rem;
}

.introText {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #a0a0a0;
}
